body {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: serif;
  font-size: 30px;
  padding-top: 9px;
  margin: 0;
}
.container {
  background-color: #2d4646;
  color: white;
  width: 300px;
  height: 54px;
  margin: 0px auto;
}
.input {
  display: flex;
  justify-content: space-between;
  padding: 11px 0px;
}
#todo_item {
  width: 271px;
  border: none;
}
#todo_item:focus {
  outline: none;
}
.fa-plus {
  background-color: green;
  width: 25px;
  height: 25px;
  padding-top: 10px;
  cursor: pointer;
}
#list {
  color: black;
  margin-left: -40px;
}
.list {
  list-style: none;
  display: grid;
  grid-template-columns: 200px auto auto;
  column-gap: 5px;
  width: 200px;
  margin: 5px 0px;
}
.list:nth-child(2n + 1) {
  background-color: rgb(164, 226, 200);
}
.list:nth-child(2n + 2) {
  background-color: rgb(225, 233, 226);
}
.edit {
  background-color: green;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.del {
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
